{% extends "base.html" %}

{% block head_containt %}
<title> admin Login | GSV</title>
{% endblock head_containt %}


{% block body_containt %}
<div class="container">
    <div class="row justify-content-center " >
        <div class="col-md-6 bg-info text-white"  >
            <h2 >Admin Login Form | GSV</h2>
            
            <form action="/admin_dashbord" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="admin_email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="admin_password" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <div class="text-bg-info p-3"><span style="background-color:yellow;">{{return_message}}</span></div>

        </div>
    </div>
</div>

{% endblock body_containt %}


