{% extends "base.html" %}

{% block head_containt %}
<title> Student Dashboard |GSV</title>

{% endblock head_containt %}


{% block body_containt %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div id="mySidebar" class="sidebar">
                <a href="#">Latest Updates</a>
                <a href="#">Exam Cities and Hall Tickets</a>
                <a href="#">My Current Courses</a>
                <a href="#">Completed & Pending Courses</a>
                <a href="#">My Current Projects</a>
                <a href="#">Completed Projects</a>
                <a href="#">Academic Calendar</a>
                <a href="#">Documents for Download</a>
                <a href="#">Certificates</a>
                <a href="#">Disciplinary Action</a>
                <a href="#">Submitted Documents</a>
                <a href="#">Pending Payments</a>
              </div>
            <h2> Welcome {{student_email}} to Dashboard </h2>
            
        </div>
    </div>
</div>

{% endblock body_containt %}


